# VS Code
.settings/
**/.vscode/
*.code-workspace

# Eclipse
.cproject
.settings

# PyCharm / IntelliJ
.idea

# Python
.env/
env/
__pycache__/

# Other
*.swp
/.metadata/

# Docker
/build-*
Dockerfile
